body {
  background: wheat;
}

.container {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.common-btn {
  background-color: skyblue;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}
select {
  background-color: rgb(6, 6, 14);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
  color: aliceblue;
  outline: none;
  cursor: pointer;
}
option {
  color: aqua;
}
